/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1700px) and (max-width: 2000px) {
    /* .hero-area {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 558px;
        padding: 43px 0 1245px 0;
      } */
}

@media screen and (min-width: 992px) and (max-width: 1200px) {}

/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo img {
        width: 160px;
    }

    .menu-bar {
        display: block;
    }

    .menu-item {
        display: none !important;
    }

    header {
        padding: 10px 0px;
        position: fixed;
        margin: auto;
        width: 100%;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 99999999999;
    }

    .fixed-menu {
        z-index: 99999999999;
    }

    .menu-icon {
        margin-right: 30px;
    }

    .menu-icon img {
        width: 38px;
    }

    .hero-area {
        position: relative;
        padding: 131px 0 20px;
        background: #6591C2;
    }

    .hero-title h6 {
        font-size: 16px;
    }

    .hero-title h2 {
        color: #FFF;
        font-size: 28px;
    }

    .hero-area p {
        color: #FFF;
        font-size: 15px;
    }

    .hero-title ul li a {
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        padding: 17px 11px;
        transition: .3s;
        text-align: center;
        width: 165px;
        display: block;
        color: #fff;
        border-radius: 30px;
        border: 1px solid transparent;
    }

    .sectives-titles-item h2 {
        text-align: center;
        font-size: 18px;
    }

    .sectives-titles-item h2 span {
        font-weight: 300;
        font-size: 19px;
    }

    .services-area {
        padding: 112px 0 100px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 118% 16%;
        margin-top: -50px;
        position: relative;
        z-index: 99;
    }

    .about_title-item p {
        text-align: center;
        padding: 0 0px;
        font-size: 16px;
        margin-bottom: 118px;
    }

    .services-box h3 {
        font-size: 24px;
    }

    .about_area {
        padding: 109px 0 56px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        margin-top: -107px;
        position: relative;
        z-index: 99;
        background-size: 106% 24%;
    }

    .slide {
        font-size: 18px;
    }

    .about-item-box h2 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .about-item-box {
        margin-bottom: 103px;
    }

    .Brief_Container {
        padding: 1px 5%;
    }

    .main-content .owl-theme .custom-nav .owl-prev {
        left: -22px;
    }

    .main-content .owl-theme .custom-nav .owl-next {
        right: -22px;
    }

    .contact-form-area {
        padding: 100px 0 65px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 102% 47%;
        margin-top: -240px;
        position: relative;
        z-index: 99;
    }

    .contact-form-right-box h2 {
        font-size: 28px;
        margin-bottom: 8px;
    }

    footer {
        background-color: #fff;
        padding: 49px 0 9px;
    }

    .fixed-menu {
        padding: 6px 0px !important;
    }

    .fixed-menu .logo img {
        width: 168px;
    }

    .contact-form-left-content {
        margin-bottom: 9px;
    }

    .fl-p {
        padding-left: 70px;

    }

    .fl-l {
        padding-left: 0px;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .copy_right-inner {
        display: block;

        text-align: center;
    }

    .copy_right-inner ul {
        justify-content: center;
        margin-top: 15px;
    }

    .copyright {
        background-color: #1D2434;
        padding: 27px 0;
    }

    .copy_right-inner p {
        color: #fff;
        font-size: 15px;
    }

    .pagi-title h2 {
        font-size: 29px;
        font-weight: 700px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        color: #ffff;
        margin-bottom: 16px;
        margin-top: 50px;
    }

    .hero-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-left {
        padding-top: 41px;
    }

    .hero-nnnga {
        position: absolute;
        top: 36px;
        left: 123px;
        right: 0px;
        margin: auto;
    }



}

/*
====================================
Small Screen - Mobile
====================================
*/

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/

@media screen and (max-width: 767px) {
    .logo img {
        width: 160px;
    }

    .menu-bar {
        display: block;
    }

    .menu-item {
        display: none !important;
    }

    header {
        padding: 10px 0px;
        position: fixed;
        margin: auto;
        width: 100%;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 99999999999;
    }

    .menu-icon {
        margin-right: 30px;
    }

    .menu-icon img {
        width: 38px;
    }

    .hero-area {
        position: relative;
        padding: 75px 0 20px;
        background: #6591C2;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-title h6 {
        font-size: 16px;
        text-align: center;
    }

    .hero-title h2 {
        color: #FFF;
        font-size: 28px;
        text-align: center;
    }

    .hero-area p {
        color: #FFF;
        font-size: 15px;
        text-align: center;
    }

    .hero-title ul li a {
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        padding: 17px 11px;
        transition: .3s;
        text-align: center;
        width: 165px;
        display: block;
        color: #fff;
        border-radius: 30px;
        border: 1px solid transparent;
    }

    .orderss2 {
        order: 2;
    }

    .orderss1 {
        order: 1;
    }

    .services-item {
        padding-top: 38px;
    }

    .sectives-titles-item h2 {
        text-align: center;
        font-size: 18px;
    }

    .sectives-titles-item h2 span {
        font-weight: 300;
        font-size: 19px;
    }

    .who-we-worked-with-area {
        padding: 43px 0 270px;
    }

    .services-area {
        padding: 112px 0 100px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 118% 16%;
        margin-top: -50px;
        position: relative;
        z-index: 99;
    }

    .about_title-item p {
        text-align: center;
        padding: 0 0px;
        font-size: 16px;
        margin-bottom: 118px;
    }

    .services-box h3 {
        font-size: 24px;
    }

    .about_area {
        padding: 109px 0 56px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        margin-top: -107px;
        position: relative;
        z-index: 99;
        background-size: 106% 24%;
    }

    .slide {
        font-size: 18px;
    }

    .about-item-box h2 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .about-item-box {
        margin-bottom: 103px;
    }

    .Brief_Container {
        padding: 1px 5%;
    }

    .main-content .owl-theme .custom-nav .owl-prev {
        left: -22px;
    }

    .main-content .owl-theme .custom-nav .owl-next {
        right: -22px;
    }

    .contact-form-area {
        padding: 100px 0 65px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 102% 47%;
        margin-top: -240px;
        position: relative;
        z-index: 99;
    }

    .contact-form-right-box h2 {
        font-size: 28px;
        margin-bottom: 8px;
    }

    footer {
        background-color: #fff;
        padding: 49px 0 9px;
    }

    .fixed-menu {
        padding: 6px 0px !important;
    }

    .fixed-menu .logo img {
        width: 168px;
    }

    .fl-p {
        padding-left: 0px;

    }

    .fl-l {
        padding-left: 0px;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .copy_right-inner {
        display: block;

        text-align: center;
    }

    .copy_right-inner ul {
        justify-content: center;
        margin-top: 15px;
    }

    .fixed-menu {
        z-index: 99999999999;
    }

    .copyright {
        background-color: #1D2434;
        padding: 27px 0;
    }

    .copy_right-inner p {
        color: #fff;
        font-size: 15px;
    }

    .pagi-title h2 {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .pagi-overlay {
        padding: 124px 0;
        height: 425px;
    }

    .item-product {
        margin-bottom: 30px;
    }

    .pagi-services-area {
        padding: 130px 0 40px;
        background-repeat: no-repeat;
        background-position: top left;
        margin-top: -199px;
        background-size: 102% 40%;
    }

    .main-content2 .owl-theme .custom-nav .owl-prev {
        display: none;
    }

    .main-content2 .owl-theme .custom-nav .owl-next {
        display: none;
    }

    .testimonial-item-box {
        padding: 28px;
        height: 558px;
    }

    .hero-right {


    }

    .hero-left {
        padding-top: 41px;
    }
    .hero-nnnga {
        position: absolute;
        top: 36px;
        left: 123px;
        right: 0px;
        margin: auto;
        text-align: center;
    }

}